# This breaks localization
# node-linker=hoisted
@bentley:registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/
@itwin:registry=https://registry.npmjs.org/
resolution-mode=highest